.title,.mainValues div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  display: flex;
  justify-content: end;
}

.logoutButton {
  background-color: #d100009c;
  color: white;
}

.submitButton {
  background-color: rgb(79, 168, 79);
  color: white;
}

.studentList {
  background-color: #218394;
  color: rgb(255, 255, 255);
}

.studentList,
.logoutButton,
.submitButton,
.clearButton {
  align-items: center;
        appearance: none;
        border-radius: 4px;
        border-width: 0;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-flex;
        font-family: "JetBrains Mono",monospace;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
}

.logoutButton:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.logoutButton:hover,.studentList:hover,
.submitButton:hover,
.clearButton:hover {
  transform: translateY(-2px);
}